/*global*/
summary{
  outline:none;
  cursor: pointer;
}
input[disabled]{
	cursor: initial !important;
}
/*navbar*/
.top-navbar{
	border-radius: 0 !important;
	background: rgb(40,40,40) !important;
}
.profile-picture{
	float: left;
	width: 30px;
	height: 30px;
	background: rgb(200,200,200);
	margin: 5px 20px 0 10px;
}
.profile-name{
	padding: 10px 10px 0 0;
	color:rgb(200,200,200);
}

/**chart**/

.status-indicator li{
	float: left;
	display: table;


	padding: 5px;
	font-size: 15px;

}
.status-box{
	float: left;
	width: 30px;
	height: 30px;
	text-align: center;
	background: #ccc;
	margin-right: 15px;
	color:rgb(255,255,255);
	padding: 5px;
}

.status-box.blue{
	background: rgb(32,122,199);
}

.status-box.green{
	background: rgb(32,199,150);
}

.status-box.red{
	background: rgb(255,82,87); 
}

.status-box.gray{
	background: rgb(100,100,100);
}

/*tabs*/
.tab-line{
	float: left;
	width: 100%;
	height: 1px;
	background: #ddd;
	margin-top: 40px;
}

/*loading*/
.loading-circle{
	position: absolute;
	top:45%;
	left:48%;
	animation: load 2s infinite
}

@-webkit-keyframes load{
	100% { -webkit-transform: rotate(360deg); }
}

/*automobile status*/
.status-box-sm{
width: 20px !important;
height: 20px;
padding: 2px;
}

.status-box-sm a{
	color: rgb(255,255,255);
}
/*automobile-list*/
.automobile-list{
	margin-top: 50px;
}
.automobile-list-item{
	height: 300px;
	display: block;
	overflow: hidden;
	margin-bottom: 50px;
	padding-top: 20px;
	cursor: pointer;
	transition: background 0.5s ease-in-out;/*background: rgb(240,240,240);*/

	
}
.automobile-list-item:hover{
	background: none;
}
.automobile-list-item:hover .marker{
	background: rgb(255,82,87);
}
.automobile-list-item img{
	width: 100%;
}
.marker{
	padding: 2px 10px 2px 10px;
	text-align: center;
	color: rgb(255,255,255);
	background: rgb(40,40,40);
}
.preview-dl{}
.preview-dl dd{
padding: 5px;
}

/*backdrop modal*/
.backdrop{
	position: fixed;
	left: 0;
	top: 0;
	float: left;
	background: rgba(255,255,255,0.8);
	width: 100%;
	height: 100%;
	z-index: 4086;
	margin-top: -200%;
	transition: margin-top 0.7s linear;

}

.modalx{
	float:left;
	width: 100%;
	min-height: 300px;
	color: rgb(255,255,255);
	background: rgb(40,40,40);
	margin-top: 100px;
	padding: 20px 0 20px 0;
}
.backdrop{
	
	overflow-y:scroll;
}

/*custom button*/
.btn-primary{
	background: rgb(0,100,150) !important;
	background-image: none;
	
	box-shadow: none !important;
}

.btn-primary:hover{
	background: rgb(0,100,170) !important;
}
/*maintenance table*/
.ledgerContentTable.table tbody tr{color:rgb(200,200,200);}
.ledgerContentTable.table tbody tr:nth-child(odd){

	background: rgba(100,100,100,0.5) !important;
	border:0px !important;
}

.ledgerContentTable.table tbody tr td,.table thead th{
	border:none!important;
}
/*list*/
.list-details p{

}

/*preview*/
.preview-title{
	background: rgb(0,100,150);
	color:rgb(255,255,255);
	padding-top: 5px;
	padding-bottom: 5px;
}
.preview-menu-li li{
	float: left;
	display: block;
	margin-right: 5px;
	margin-left: 5px;
	cursor: pointer;
	color:rgb(0,100,150);
}
.preview-table{

}
.preview-sections{
	margin-top: 10px;
	margin-bottom: 15px;
}

.mini-circle {
    float: left;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background: rgb(100,100,100);
    margin: 5px 10px 0 0px;
}

.purpose-content{
	text-align: justify;
}


.profile-image.profile-image-main {
    width: 70px;
    height: 70px;
    margin-top: 15px;
}
.profile-image {
    float: left;
    width: 35px;
    height: 35px;
    background: #fff;
    border-radius: 50%;
    text-align: center;
    overflow: hidden;
    background-size: cover;
    
}

/*calendar*/
.calendar tbody tr td{
	width:100px;
	height: 100px;
}